[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/run/media/mmcblk0p1/customapps/doukutsu-rs_linux/updater.sh
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=doukutsu-rs Updater
Name=doukutsu-rs Updater
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
