#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Oh My Zsh
Exec=curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh | bash -s --
Terminal=true
Type=Application
StartupNotify=false
